<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751560248045-1qtd08pdf0qqa2hhfd6peh7it0ldv38e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751560248045-1qtd08pdf0qqa2hhfd6peh7it0ldv38e</string>
	<key>API_KEY</key>
	<string>AIzaSyCiM8wbDVQ7WO2k8pJyqjWjsl-ucipfYp8</string>
	<key>GCM_SENDER_ID</key>
	<string>751560248045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f2957</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f2957.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751560248045:ios:2a94e157624c13e4b0dae4</string>
</dict>
</plist>